@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Abel'
body {
    font-family: 'Abel', sans-serif;
}
html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; /* フォントの種類 */
    font-size: 1.4rem; /* フォントサイズ */
    line-height: 1.6; /* 行間 */

    letter-spacing: .1em;　/* 文字間隔 */

    color: #4c4c4c; /* 文字色 */
    background-color: #fdfcf6; /* 背景色 */
    text-align: center;
}

#image-icon
{
     background-image: url("../images/images.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  #image-icon
{
    height: 250px;
}
}
main
{
    font-size: 2rem;
    padding-top: 50px;
}
section
{
    padding: 50px 0; /* section要素の余白を上下60pxで揃える */
}
section .container
{
    width: 90%; /* sectionの中のインナーボックスをウィンドウ幅に対して90%に */
}
section h1
{
    font-size: 3.2rem;/* section要素見出しを32pxで揃える */
}

.block-center,
section .container
{
    display: block;

    margin-right: auto;
    margin-left: auto;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.abel,
section h1
{
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h1
{
    text-transform: uppercase;
}

#likes .container
{
    display: -webkit-flex;
    display:         flex;

    justify-content: space-between;
}
#likes h1
{
    margin-bottom: 60px;
    color: #fdfcf6;
}
#likes .likes-box
{
     background-color: #ffdddd;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-flex: 1;
            flex: 1;
    margin: 0px 10px;
    padding: 20px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

}
@media (max-width: 768px) {
  #likes .likes-box
{
    margin: 20px 0px;
}
}
  #likes h1
{
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 10px;

    color: #14c0c9;
}  
 

#contact 
{
    text-align: center;
    font-size: 2rem;

    display: inline-block;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: top;
}

  #contact a
{
    display: block;

    width: 500px;
    height: 50px;

    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #14c0c9;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
}
@media (max-width: 768px) {
  #contact a
{
    width: 300px;
}
}
#contact  a:hover
{
    background-color: #0f949b;
}  
footer
{
    background-color: #ddffdd;
}
